.content-layout-wrapper
  height 100%
  display flex
  flex-direction column
  .content-layout-content
    flex 1
    // overflow-y auto
    padding 16px
    background #f3f4f9
    .content-inner
      background #fff
      min-height 100%
      // padding-top 16px
  .content-layout-header, .content-layout-footer
    flex-grow 0
    flex-shrink 0
