.pageClueDiscovery
  .colorBlue
    color: #1890ff
  .leftBorder
    border-left: 2px solid #8080FF;
  .searchCondition
    .pointer
      cursor: pointer
    .sectionTitle
      width: 200px
    .conditionSectionWrap
      .conditionSection
          border: 1px solid #d9d9d9
          border-radius: 4px
        .sectionTitleItem
          padding: 5px 15px
          margin: 0 5px
          cursor: pointer
        .sectionOption
          padding: 20px
          border-top: 1px solid rgba(242, 242, 242, 1)
          .sectionOptionItem
            padding: 5px 15px
            margin-right: 50px
            cursor: pointer
        .selectAll
          background-color:  #1890ff
          border-radius: 10px
          color: #fff
        .selected
          color #1890ff
          border: 1px solid #1890ff
          border-radius: 30px
  .discoverDetail
    .detailTitle
      padding-left: 18px
      color: #666666
      margin-bottom: 8px
    .detailDesc
      color: #999999
    .listItem
      background: rgba(249, 249, 249, 1)
.conditionSelected
  .selectedItem
    line-height: 28px;
    height: 28px;
    font-size: 12px;
    padding: 0px 2px 0px 10px
    border: 1px solid #d9d9d9
    margin-right: 8px
    margin-top: 6px
    .item
      color: #1890ff
      padding: 0 6px
      display: inline-block
    .itemBorder
       border-right: 1px solid #d9d9d9





