.frame
  min-height 100%
  min-width 1200px
  max-width 1920px
  .frame-logo
    width 64px
    height 64px
    img
      vertical-align baseline
  .trigger
    font-size 20px
    padding 10px 0px 10px 20px
    cursor pointer
    color white
    transition color 0.3s

  .trigger:hover
    color #1890ff

  .breadcrumb
    flex 1
    margin-top -7px
  .side-menu
    .ant-menu-inline-collapsed
      width 60px
      > li.ant-menu-item
        padding: 0 22px!important
      .ant-menu-submenu-title
        padding: 0 22px!important
.content-header
  line-height 70px
  font-size 16px
  padding-left 16px
  background #ffffff
  color rgba(0,0,0, .85)
  margin-top 1px